*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/drawable-hdpi/clear_day.png
src/main/res/drawable-hdpi/clear_night.png
src/main/res/drawable-hdpi/cloudy.png
src/main/res/drawable-hdpi/cloudy_night.png
src/main/res/drawable-hdpi/degree.png
src/main/res/drawable-hdpi/fog.png
src/main/res/drawable-hdpi/ic_launcher.png
src/main/res/drawable-hdpi/partly_cloudy.png
src/main/res/drawable-hdpi/rain.png
src/main/res/drawable-hdpi/refresh.png
src/main/res/drawable-hdpi/sleet.png
src/main/res/drawable-hdpi/snow.png
src/main/res/drawable-hdpi/sunny.png
src/main/res/drawable-hdpi/wind.png
src/main/res/drawable-mdpi/clear_day.png
src/main/res/drawable-mdpi/clear_night.png
src/main/res/drawable-mdpi/cloudy.png
src/main/res/drawable-mdpi/cloudy_night.png
src/main/res/drawable-mdpi/degree.png
src/main/res/drawable-mdpi/fog.png
src/main/res/drawable-mdpi/ic_launcher.png
src/main/res/drawable-mdpi/partly_cloudy.png
src/main/res/drawable-mdpi/rain.png
src/main/res/drawable-mdpi/refresh.png
src/main/res/drawable-mdpi/sleet.png
src/main/res/drawable-mdpi/snow.png
src/main/res/drawable-mdpi/sunny.png
src/main/res/drawable-mdpi/wind.png
src/main/res/drawable-xhdpi/clear_day.png
src/main/res/drawable-xhdpi/clear_night.png
src/main/res/drawable-xhdpi/cloudy.png
src/main/res/drawable-xhdpi/cloudy_night.png
src/main/res/drawable-xhdpi/degree.png
src/main/res/drawable-xhdpi/fog.png
src/main/res/drawable-xhdpi/ic_launcher.png
src/main/res/drawable-xhdpi/partly_cloudy.png
src/main/res/drawable-xhdpi/rain.png
src/main/res/drawable-xhdpi/refresh.png
src/main/res/drawable-xhdpi/sleet.png
src/main/res/drawable-xhdpi/snow.png
src/main/res/drawable-xhdpi/sunny.png
src/main/res/drawable-xhdpi/wind.png
src/main/res/drawable-xxhdpi/
src/main/res/drawable/
